/* font-family: 'Francois One', sans-serif; */
/* font-family: 'Cookie', cursive; */
/* font-family: 'Oleo Script', cursive; */
* {
  font-family: 'Tenor Sans', sans-serif;
}

body {
  background-size: 100%;
  font-family: 'Cookie', cursive;
}

.cupcake-score {
  color: gray
}

.jumbotron {
  height: 200px;
  opacity: .55;
}

h1 {
  font-family: 'Oleo Script', cursive;
  font-size: 60px;

}

.cupcake {
  float: left;
  width: 150px;
  /* height: 145px; */
}

.img-thumbnail {
  cursor: pointer;
}
